[global]
 workgroup = WORKGROUP
 security = user
 server min protocol= SMB3
 smb encrypt = required
 passdb backed = tdbsam

[samba_share]
 path = /samba_share
 valid users = @example.com\harry, @developers
 writeable = yes 
 write list= harry 
 browseable = yes
